<div class="container">
    <div class="row">

     <ul class="nav nav-tabs">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li class="active"><a href="/savedarticles"><span class="glyphicon glyphicon-user"></span> Saved Articles</a></li>


    </ul>

        <div class="col-sm-8 col-sm-offset-2">
            <p class="cool-font text-center">{{title}}</p>
            <br>
        </div>
    </div>
    <div class="row">
           
{{#each items }}
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4>{{this.title}}</h4>
                    </div>
                            <p>
                                <a href="{{this.link}}">{{this.link}}</a>
                            </p>
                            <textarea type="text" class="center-block" name="noteBody" id="notebox">Write Your Note Here</textarea>

                        <form method="POST" action="/notes/:note">
                         <button type="submit" class="btn-lg btn-primary center-block" id ="add-new-note">Add Note</button>
                        </form>

                         
   
                </div>
        {{/each}}

    </div>
                       
    </div>

</div>